.container-prod {
  display: flex;
}
button {
  margin: 10px 10px;
  font-size: 20px;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  max-width: 500px;
}
